<section class="bg-gray-200 w-full py-2 px-20 flex items-center justify-between">
  <div class="flex items-center gap-x-5">
    <img src="assets/images/ADRES.png" alt="ADRES" class="w-32">
    <hr class="border border-gray-800 h-6">
    <h1 class="text-2xl font-bold text-gray-800 self-center">Sistema de Adquisiciones</h1>
  </div>
  <div class="flex items-center gap-x-5">
    <div>
      <h3 class="font-bold leading-3">{{ this.userName }}</h3>
      <h4 class="font-light text-sm">{{ this.userEmail }}</h4>
    </div>
    <button class="btn btn-error" (click)="logout()">Cerrar sesión</button>
  </div>
</section>
